<!DOCTYPE html>
<html>
  <head>
    <title>Access Denied</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Access Denied</h1>
    <p>Access has been denied to the webpage as your ip is flagged as potentially malaficient</p>
    <p>In case you feel this is an error please contact test@testhelp.com</p>
  </body>
</html>