<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Webpage</h1>
    <p>Welcome to Webpage</p>
    <p>You've accessed this page successfully</p>
  </body>
</html>
